html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

/* Navigation CSS */

svg {
  height: 50%;
  width: auto;
  padding-left: 1rem;
}
nav {
  color: white;
  background-color: #071838;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 0.5rem;
  margin-right: 2rem;
}

/*log in form and button handling*/
.log-in-sign-up,
.log-out,
.log-in-or-out {
  cursor: pointer;
  cursor: hand;
  font-size: 0.75rem;
  margin-right: 0.5rem;
}

.log-in-form-body {
  position: absolute;
  z-index: 1000;
  /* display: flex; */
  background-color: white;
  color: #071838;
}

.log-in-form > * {
  display: block;
  background-color: white;
}

.lgf-hidden {
  display: none;
}

.create-account-button {
  cursor: pointer;
  color: #071838;
}

.create-form-body {
  position: absolute;
  z-index: 1000;
  /* display: flex; */
  background-color: white;
  color: #071838;
}

.create-form > * {
  display: block;
  background-color: white;
}

.create-hidden {
  display: none;
}

/* user body */
.user-body {
  transition: 0.5s;
}

.tab-body {
  display: flex;
  background-color: #6494ed;
  color: white;
}

.tab-button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-right: solid white 1px;
  border-radius: 0.25rem;
}

/* first body section */

.home-body {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #6494ed;
  opacity: 0.7;
  color: white;
  justify-content: center;
  transition: 0.5s;
}

.home-body > * {
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.home-body p {
  padding: 0.5rem;
  margin-left: 20%;
  margin-right: 20%;
  word-wrap: normal;
}

.get-started-button a {
  text-decoration: none;
  padding: 0.25rem;
  color: black;
  background-color: white;
}

/* universal features */

.hidden {
  display: none;
}

.error {
  color: red;
}

.close {
  position: absolute;
  top: 2px;
  right: 2px;
}
